* text=auto

*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.icns binary
*.ico binary
*.png binary
